<p>
  <app-avatar [saram]="data?.pessoa.saram"></app-avatar>
</p>
<p>
  <b>OID: </b>
  {{ data?.oid }}
</p>
<p>
  <b>NOME: </b>
  {{ data?.pessoa.nome }}
</p>
<p>
  <b>EMAIL: </b>
  {{ data?.email }}
</p>
<p>
  <b>TELEFONE: </b>
  {{ data?.telefone }}
</p>
<p>
  <b>OM DO INDICADO: </b>
  {{ data?.pessoa.organizacao }}
</p>
<p>
  <b>SOLICITADO POR: </b>
  {{ data?.organizacaoSolicitante.sigla }}
</p>
<p>
  <b>OM Beneficiada: </b>
  {{ data?.organizacaoBeneficiada.sigla }}
</p>

<p>
  <b>JUSTIFICATIVA: </b>
  {{ data?.justificativa }}
</p>
<p>
  <b>OBSERVAÇÕES: </b>
  {{ data?.observacoes }}
</p>
