<form class="basic-form" [formGroup]="form">
  <div fxLayout="row wrap">

  <app-pessoa-input formControlName="pessoaOid"></app-pessoa-input>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Email" formControlName="email">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Telefone" formControlName="telefone">
  </mat-form-field>

  <mat-form-field  class="example-full-width">
      <textarea matInput formControlName="justificativa"
                cdkTextareaAutosize
                cdkAutosizeMinRows="5"
                cdkAutosizeMaxRows="10"
                placeholder="Justificativa">
      </textarea>
  </mat-form-field>

  <mat-form-field  class="example-full-width">
      <textarea matInput formControlName="observacoes"
                cdkTextareaAutosize
                cdkAutosizeMinRows="5"
                cdkAutosizeMaxRows="10"
                placeholder="Observaçoes">
      </textarea>
  </mat-form-field>
  <button mat-button (click)="submit()">Enviar</button>
  </div>
</form>

