<div class="container">
  <h1>{{ oid }} TEL005 - Básico de Linux</h1>
  <p>
    is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took
  </p>


  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Datas
        </mat-panel-title>
        <mat-panel-description>
          Type your name and age
        </mat-panel-description>
      </mat-expansion-panel-header>




    </mat-expansion-panel>
    <mat-expansion-panel >
      <mat-expansion-panel-header>
        <mat-panel-title>
          Mais detalhes sobre o Evento
        </mat-panel-title>
        <mat-panel-description>

        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>I'm visible because I am open</p>
    </mat-expansion-panel>
    <mat-expansion-panel >
      <mat-expansion-panel-header>
        <mat-panel-title>
          Previsão de distribuição de vagas
        </mat-panel-title>
        <mat-panel-description>

        </mat-panel-description>
      </mat-expansion-panel-header>
      <ein-reserva-vaga-list></ein-reserva-vaga-list>
    </mat-expansion-panel>
  </mat-accordion>



  <mat-tab-group>
    <mat-tab label="Inscrições">
      <ein-inscricao-list></ein-inscricao-list>
    </mat-tab>
    <mat-tab label="Indicações">
      <ein-indicacao-list></ein-indicacao-list>
    </mat-tab>
  </mat-tab-group>


</div>



