<div>
  <form>
    <mat-form-field>
      <input matInput placeholder="Categoria">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Sigla">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Nome">
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Descrição"></textarea>
    </mat-form-field>
    <mat-form-field>
      <select matInput placeholder="Status do Evento">
        <option matInput value="ABERTO">Aberto</option>
        <option matInput value="FINALIZADO">Finalizado</option>
      </select>
    </mat-form-field>
    <mat-form-field>
      <input type="date" matInput placeholder="data de início do evento">
    </mat-form-field>
    <mat-form-field>
      <input type="date" matInput placeholder="data de término do evento">
    </mat-form-field>
    <mat-form-field>
      <input type="date" matInput placeholder="data de início das indicações">
    </mat-form-field>
    <mat-form-field>
      <input type="date" matInput placeholder="data de término das indicações">
    </mat-form-field>
    <mat-form-field>
      <input type="date" matInput placeholder="data de início do evento">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Ticket">
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Observações"></textarea>
    </mat-form-field>
  </form>
</div>


