<div>
  <div>
    <app-evento-search (changed)="onSearchChange($event)"></app-evento-search>
  </div>


  <!-- LISTA DE CARDS -->
  <div>
    <mat-card class="eventos-store-card" *ngFor="let item of (dataList$ | async)?.data">

      <mat-card-content>
        <mat-card-header>
          <div mat-card-avatar>
          <mat-icon>event_note</mat-icon>
          </div>
          <mat-card-title>{{ item.categoria.titulo }}</mat-card-title>
          <mat-card-subtitle>Data do Evento: {{ item.dataInicio | date:'dd MMMM yyyy' }} a {{ item.dataTermino | date:'dd MMMM yyyy' }}</mat-card-subtitle>
        </mat-card-header>
        <h3>{{ item.sigla}} - {{ item.nome}}</h3>
        <p>
          {{ item.descricao }}
        </p>

        <mat-card-actions>
          <a mat-raised-button color="primary" (click)="raiseAction('subscribe', item.oid)">INSCREVA-SE</a>
          <a mat-button (click)="raiseAction('detail', item.oid)">VER DETALHES</a>
        </mat-card-actions>

      </mat-card-content>

    </mat-card>

  </div>



</div>

<mat-paginator [length]="(dataList$ | async)?.filteredCount" [pageSize]="dataSearch.size"
               [pageSizeOptions]="paginateOptions" showFirstLastButtons (page)="onPageChange($event)"></mat-paginator>
