<form class="basic-form" [formGroup]="form" (submit)="onSubmit()">
  <div fxLayout="row wrap">

    <mat-form-field>
      <input matInput type="text"
             placeholder="Nome"  formControlName="nome">
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text"
             placeholder="CPF"  formControlName="cpf">
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text"
             placeholder="SARAM"  formControlName="saram">
    </mat-form-field>

    <a mat-button id="link-close" (click)="onCancel()">Cancelar</a>
    <button mat-raised-button type="submit" color="primary">Gravar</button>
  </div>
</form>
