<ein-indicacao-search (changed)="onSearchChange($event)"></ein-indicacao-search>
<mat-card class="example-card"  *ngFor="let item of dataList">
  <mat-card-header>
    <img [src]="'http://localhost:8081/api/v1/pessoas/' + item.pessoa.saram +'/thumbnail'">
    <mat-card-title>{{ item.pessoa.nome }} ({{ item.pessoa.organizacao}})</mat-card-title>
    <mat-card-subtitle>{{ item.pessoa.email }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <a mat-button (click)="raiseAction('edit', item.oid)">EDITAR</a>
    <ein-indicacao-remove [oid]="item.oid"  (deleted)="refresh()">REMOVER</ein-indicacao-remove>
  </mat-card-actions>
</mat-card>

<mat-paginator [length]="filteredCount" [pageSize]="dataSearch.size"
               [pageSizeOptions]="paginateOptions" showFirstLastButtons (page)="onPageChange($event)"></mat-paginator>
