<div class="container">
  <div class="eventos-store-list">

    <mat-card class="eventos-store-card" *ngFor="let item of (dataList$ | async)?.data">
      <div class="evento-header">

        <section class="evento-calendar">
          <mat-icon>calendar_today</mat-icon>
          <span>Data do Evento: <b>25 de outrubro a 2 de novembro de 2018</b></span>
        </section>

        <section class="evento-actions">
          <a mat-icon-button href="#">
            <mat-icon>star_border</mat-icon>
          </a>
        </section>

      </div>

      <mat-card-content>
        <mat-card-title>{{ item.nome}}</mat-card-title>
        <mat-card-subtitle> subtitulo </mat-card-subtitle>
        <p>
          {{ item.descricao }}
        </p>
        <span class="label label-primary">{{ item.statusEvento }}</span>
      </mat-card-content>

      <mat-card-actions>
        <a mat-button [routerLink]="['/store', 'eventos', item.oid]">VER DETALHES</a>
        <a mat-button [routerLink]="['/store', 'inscricao']">INSCREVA-SE</a>
      </mat-card-actions>
    </mat-card>

  </div>

</div>
