<h1>Evento OID: {{ eventoOid }}</h1>
<div cdkDropListGroup>
  <div class="example-container">
    <ein-proposta-container [eventoOid]="eventoOid" (action)="onAction($event)"></ein-proposta-container>
  </div>

  <div class="example-container">

    <mat-tab-group>
      <mat-tab label="Minhas Indicações">
        <ein-indicacao-repository [eventoOid]="eventoOid" (action)="onAction($event)"></ein-indicacao-repository>
      </mat-tab>
      <mat-tab   *ngFor="let item of organizations" [label]="item.nome">
        {{ item.nome }} {{ item.oid }}
      </mat-tab>
    </mat-tab-group>


  </div>

  <div class="example-container">
    <ein-indicacao-detail [oid]="indicacaoOid" ></ein-indicacao-detail>
  </div>
</div>


