<h1>Evento OID: {{ eventoOid }}</h1>
<div cdkDropListGroup>
  <div class="example-container">
    <app-proposta-edit [eventoOid]="eventoOid" [organizacaoOid]="organization.oid" (action)="onAction($event)"></app-proposta-edit>
  </div>

  <div class="example-container">

    <mat-tab-group>
      <mat-tab [label]="organization.sigla">
        <app-indicacao-repository [eventoOid]="eventoOid"  [organizacaoOid]="organization.oid" (action)="onAction($event)"></app-indicacao-repository>
      </mat-tab>
      <mat-tab   *ngFor="let item of organizations" [label]="item.sigla">
        <app-proposta-container [eventoOid]="eventoOid"  [organizacaoOid]="item.oid" (action)="onAction($event)"></app-proposta-container>
      </mat-tab>
      <ng-container *ngIf="evento.organizacaoGestora.oid === organization.oid">
        <mat-tab  *ngFor="let item of odsas" [label]="item.sigla">
          <app-proposta-container [eventoOid]="eventoOid"  [organizacaoOid]="item.oid" (action)="onAction($event)"></app-proposta-container>
        </mat-tab>
      </ng-container>
    </mat-tab-group>
  </div>

  <div class="example-container">
    <app-indicacao-detail [oid]="indicacaoOid" ></app-indicacao-detail>
  </div>
</div>


