<mat-selection-list #contaner1 cdkDropList [cdkDropListData]="data.itensProposta"  (cdkDropListDropped)="drop($event)">
  <mat-list-option cdkDrag *ngFor="let item of data.itensProposta; let i = index"  (click)="raiseAction('detail', item.indicacao.oid)">
    <mat-icon mat-list-icon><ein-avatar-mini [saram]="item.indicacao.pessoa.saram"></ein-avatar-mini></mat-icon>
    <p mat-line>
      {{ i + 1}} - {{ item.indicacao.pessoa.nome }} ({{ item.indicacao.organizacaoSolicitante.sigla}})
    </p>
  </mat-list-option>
</mat-selection-list>
  <button mat-flat-button (click)="submit()" *ngIf="data.itensProposta.length > 0">Salvar</button>
  <ein-proposta-remove *ngIf="data.oid" [oid]="data.oid"  (deleted)="reset()">Remover</ein-proposta-remove>
  <button mat-flat-button *ngIf="data.oid" (click)="send()">Enviar</button>

