<div class="container">
    <ein-categoria-search (changed)="onSearchChange($event)"></ein-categoria-search>
  <div class="categorias-store-list">

    <mat-card class="categorias-store-card" *ngFor="let item of (dataList$ | async)?.data">
      <img [src]="item.imageUrl" style="height: 200px; width: 300px">
      <mat-card-content>
        <mat-card-title>{{ item.titulo}}</mat-card-title>

        <p>
          {{ item.descricao }}
        </p>
      </mat-card-content>

      <mat-card-actions>
        <a mat-button  (click)="raiseAction('detail', item.oid)">VEJA MAIS</a>
      </mat-card-actions>
    </mat-card>

  </div>
  <a mat-button (click)="message()">Message</a>
  <mat-paginator [length]="(dataList$ | async)?.filteredCount" [pageSize]="dataSearch.size"
                 [pageSizeOptions]="paginateOptions" showFirstLastButtons (page)="onPageChange($event)"></mat-paginator>

</div>

